flow/index.json
[{"id":"31faf73c.5dcae","type":"tab","label":"Flow 1"},{"id":"1edf3cec.9116eb","type":"http in","z":"31faf73c.5dcae","name":"hello","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":220.5,"y":217,"wires":[["3909412c.1d2af6"]]},{"id":"c850a616.b448e8","type":"debug","z":"31faf73c.5dcae","name":"","active":true,"console":"false","complete":"false","x":450,"y":220,"wires":[]},{"id":"3909412c.1d2af6","type":"function","z":"31faf73c.5dcae","name":"say hello","func":"msg.payload = `hello`\nreturn msg;","outputs":1,"noerr":0,"x":312.5,"y":291,"wires":[["c850a616.b448e8","ca763ae6.6f9978"]]},{"id":"ca763ae6.6f9978","type":"http response","z":"31faf73c.5dcae","name":"hello","statusCode":"200","headers":{},"x":623.5,"y":296,"wires":[]}]